@CHARSET "UTF-8"; 
body {height:100%;width:100%;_position: relative;}
body,button,input,select,textarea {font: 12px/1.5 Arial, Helvetica, sans-serif;}
/*login*/.g {position: relative;}
a {color: #5C5C5C;}
.website-name{color: white;font-size: 20px; height: 67px;line-height: 50px;font-family: "arial";padding-top: 14px;}
#layer{position:absolute;left:-10000px;top:0px;}
.full{width:100%;height:100%;left:0px!important;}
.mc{width:100%;height:100%;opacity:0.5}
.load{z-index:10;height:0px;margin-left:10px}
.loadmc{height:30px!important}
/*login*/.login {background: #D4D4D3 url(../../images/echannel/bg/bg9.jpg) scrollno-repeat center -42px;}
/*forgetbyid*/.forget,.reset {background: #f1f1f1;}
/*regbyphone*//*regbymail*/.reg,.mv {background: #D4D4D3 url(../../images/echannel/bg/bg10.jpg) scrollno-repeat center 0;}
/*activity_success*//*forgetbyid*/.reset-area .h h3,.forget-area .h_activity h3{background: transparent url(../images/common/sprites4.png)scroll no-repeat;}
.button-next,.button-submit,.button-email,.button-phone,.button-prompt,.button-forget,.button-reset,.button-reg,.agreement-area .box-ok{border-radius: 0px;width: auto;height: 36px;font-size: 14px;background-image:none;background-color:transparent;border:none;text-align:center;color: #007dff;cursor: pointer;}
.button-reg{border-radius: 0px;padding:5px 30px;width: auto;height: 36px;font-weight: bold;font-size: 18px;background-image:none;background-color:RGB(86,204,8);border-width:0 0 2px 0;border-style:solid;border-color:RGB(86,204,8);text-align:center;color: #fff;cursor: pointer;}
.button-reg:hover{background-color: RGB(87,217,2);text-decoration: none;color: #fff;cursor: pointer;border-color:RGB(87,217,2);}
.button-login-2{border-radius: 0px;padding:5px 30px;width: auto;height: 36px;font-weight: bold;font-size: 14px;background-image:none;background-color:RGB(197,197,197);border-width:0 0 2px 0;border-style:solid;border-color:RGB(197,197,197);text-align:center;color: #fff;cursor: pointer;direction: none;}
/*login*/.login-area {background: transparent url(../../images/echannel/bg/bg11.jpg) scrollno-repeat;}
/*login*/.login-area-marginTop {margin-top: -45px;}
/*login*/.login-form-marginTop {margin-top: -20px;}
/*forgetbyid*/.reset-area .h {background: transparent url(../images/echannel/bg/bg25.png) scrollno-repeat;background-size: 100% 110px;}
/*regbyphone*//*regbymail*/.reg-area,.mv-area {background: transparent url(../images/echannel/bg/bg13.png) scrollno-repeat;}
/*regbymail*/.reg-area .b,.mv-area .b {background: #FFF url(../images/echannel/bg/bg26.png) scroll no-repeat;}
/*login*/.customer-header {height: 73px;}
/*login*/.customer-header .logo {padding-top: 30px;}
/*forgetbyid*//*regbyphone*//*regbymail*/.reset .customer-header .logo,.forget .customer-header .logo,.reg .customer-header .logo,.mv .customer-header .logo{padding-left: 105px;}
/*login*/.customer-footer {width: 100%;background-position: 0 0;background-repeat: repeat-x;height: 58px;bottom: 0;z-index: 3;_position: absolute;}
/*login*/.customer-footer .warrant-area {padding-top: 2px;line-height: 56px;}
/*login*/.customer-footer .warrant-area p {text-align: center;}
/*login*/.customer-footer .warrant-area p,.customer-footer a {color: #999;}
/*login*/.form-edit-area th {font-size: 14px;width: 218px;color: #838282;}
/*login*/.form-edit-area em {color: #808080;}
/*login*/.form-edit-area .text,.form-edit-area .verify {border: 1px solid #bcbcbc;color: #8B8B8B;height: 20px;line-height: 20px;padding: 6px;border-radius: 0px;}
/*login*/.form-edit-area a.vam {font-family: Tahoma;}
/*login*/.form-edit-area a.link {color: #004E97;text-decoration: underline;}
/*login*/.login-area {padding-left: 688px;min-height: 529px;background-position: 64px 0;}
/*login*/.login-area .h {padding: 96px 0 18px 2px;}
/*login*/.login-area .h h3 {width: 203px;height: 22px;background-position: 0 0;}
/*login*/.login-area .h span {font-size:23px; color:#ea5e00;font-weight: bold; display:block;width:300px;}
/*login*/.login-area p {margin-top: 10px;padding-top: 10px;border-top: 1px solid #DADADA;width: 253px;}
/*login*/.login-area p a {color: #ea5e00;font-size: 14px;font-weight: 700;}
/*forgetbyid*/.forget-area,.reset-area {width: 988px;background-color: #FFF;margin: 60px auto 0;}
/*activity_success*//*forgetbyid*/.forget-area .h{height: 24px;padding:25px 0;margin:0 30px;border-bottom:2px solid #f7f7f7;text-align:center;}
/*activity_success*//*forgetbyid*/.reset-area .h h3 ,.forget-area .h_activity h3{width: 144px;height: 54px;}
/*forgetbyid*/.forget-area .h h3 {background-position: 0 0;}
/*activity_success*//*forgetbyid*/.forget-area .h_activity h3 {background-position: -290px 0;}
/*activity_success*//*forgetbyid*/.reset-area .h span ,.forget-area .h_activity span {color:#666;font-size:20px; margin-left:65px;font-weight:600; display:block;width:400px;padding-top:6px;}
.forget-area .h span{font-size:24px;color:#333;font-weight:600; display:block;}
/*forgetbyid*/.forget-area .b {height: auto;min-height: 550px;width: 440px;margin: 0 auto;}
/*forgetbyid*/.forget-area p {padding: 26px 0 24px;line-height: 31px;}
/*forgetbyid*/.forget-area p span {padding-left: 15px;}
/*regbyphone*//*regbymail*/.reg-area {/*background:#fff;*/width: 791px;background-position: 0 0;margin: 0 auto 0;position: relative;}
/*regbymail*/.reg-apply-area .h {padding: 43px 0px 14px 220px;}
/*regbymail*/.reg-apply-area .h h3 {width: 400px;height: 29px;background-position: 0 -32px;}
/*regbymail*/.reg-area .h span {display: block;height: 35px;color: RGB(83,176,210);font-size: 30px;line-height: 35px;}
/*regbymail*/.reg-area .b {padding-top: 9px;height: 427px;background-position: 0 bottom;}
/*regbymail*/.reg-area .form-area th {width: 278px;}
/*regbymail*/.reg-area .f {padding-top: 6px;height: 36px;}
/*regbymail*/.reg-area .cloud {position: absolute;width: 226px;height: 135px;bottom: 19px;left: -53px;z-index: 2;background: url(../../images/echannel/bg/bg14.png);_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/echannel/bg/bg14.png',sizingMethod='crop' );}
.agreement-area .box-content {border-bottom: 0 none;}
.agreement-area .box-button {border: 1px solid #EEE;border-top: 0 none;padding: 23px 0 18px;text-align: center;}
.agreement-area .box-cancel {display: none;}
.reg-agreement-area {padding: 20px 32px 0;}
.reg-agreement-area {line-height: 23px;font-size: 13px;color: #777;}
.reg-agreement-area h2 {font-weight: 700;color: #FFF;height: 22px;line-height: 22px;background-position: 0 -219px;padding-left: 10px;margin-bottom: 24px;}
.reg-agreement-area p {margin-bottom: 19px;}
.reg-agreement-area ul {margin-bottom: 19px;}
.reg-agreement-area a {color: #0077D2;}
/* 注册新增tab样式-------------------------------------------------------------- *//*regbymail*/
.tab_div {margin-left: auto;margin-right: auto;position: relative;height: 31px;width:897px;margin: 0px;z-index: 99;/*margin-top: 50px;*/margin-top: 0;}
.tab_div .on_tab:link,.tab_div .on_tab:active,.tab_div .on_tab:visited,.tab_div .on_tab:hover{color:#fff; text-decoration:none;}
/*login_dialog*/.g_position {margin-left: auto;margin-right: auto;width: 562px;height: 411px;background: #D4D4D3 url(../../images/echannel/bg/bg9.jpg) scrollno-repeat center 0;background-position: -1300px 0px;}
/*login_dialog*/.g_position .b_dialog {margin-left: auto;margin-right: auto;width: 300px;padding-top: 70px;}
/*login_dialog*/.g_position .b_dialog .free_reg {font-size: 14px;color: #ea5e00;font-weight: bold;}
.smsCodeButton {height:30px;vertical-align:middle;border-radius: 0px;background-image:none;background-color:#ccc;border-width:0 0 2px 0;border-style:solid #ccc;text-align:center;color: #666;cursor: pointer; padding:0px 5px;}
.smsCodeButton:hover{background-color: #ddd;text-decoration: none;color: #666;cursor: pointer;}
.box-ok,.box-cancel{display:none;}
/*ifmLogin*/.ifmLogin-area {background: transparent url(../../images/echannel/bg/bg11.jpg) scrollno-repeat;}
/*ifmLogin*/.ifmLogin-area {padding-left: 0px;min-height: 529px;background-position: 64px 0;}
/*ifmLogin*/.ifmLogin-area .h {padding: 96px 0 18px 2px;}
/*ifmLogin*/.ifmLogin-area .h h3 {width: 203px;height: 22px;background-position: 0 0;}
/*ifmLogin*/.ifmLogin-area .h span {font-size:23px; color:#ea5e00;font-weight: bold; display:block;width:300px;}
/*ifmLogin*/.ifmLogin-area p {margin-top: 10px;padding-top: 10px;border-top: 1px solid #DADADA;width: 253px;}
/*ifmLogin*/.ifmLogin-area p a {color: #ea5e00;font-size: 14px;font-weight: 700;}
/*regbymail*/.form-edit-area th,.form-detail-area th {text-align: right;}
/*login*/.form-edit-area input.vam {_margin-top: -2px;}
/*regbymail*/.form-edit-area .textarea {border: 1px solid #D1D1D1;padding: 2px 4px;}
/*login*/.radio,.checkbox {margin-right: 5px;}
/*login*/.checkbox {*width: 13px;*height: 13px;}
/*regbymail*/.form-edit-area .input[disabled] {background-color: #F0F0F0;color: #8B8B8B;}
/*regbymail*/.form-edit-area .atta-area,.form-detail-area .atta-area {padding-bottom: 14px;}
/*regbymail*/.form-edit-area .atta-area {margin-top: -5px;}
/*regbymail*/.form-edit-area .atta-area li,.form-detail-area .atta-area li {margin-bottom: 6px;}
/*regbymail*/.form-edit-area .atta-area .icon-del {margin-left: 16px;}
/*forgetbymail*/.form-login-area .form-edit-area th,.form-book-area .form-edit-area th {width: 138px;padding-right: 7px;font-size: 14px;}
/*forgetbymail*/.form-mail-area .form-edit-area th {font-size: 14px;width: 107px;padding-right: 7px;}
/*login*/.g {width: 1002px;margin: 20px auto;zoom: 1;}
/*login*/.g:after {content: "\0020";display: block;height: 0;clear: both;visibility: hidden;overflow: hidden;}
/**begin**casserver web authentication*/.g_auth {margin-left: auto;margin-right: auto;height: 411px;background: #D4D4D3 url(../../images/echannel/bg/bg9.jpg) scrollno-repeat center 0;background-position: -1300px 0px;}
.g_position .cas_authentication {margin-left: auto;margin-right: auto;width:400px;padding-top: 30px;}
.g_position .cas_authentication .form-edit-area{width:auto; border:solid 1px #ccc; padding:20px;border-radius: 20px;}
.g_position .cas_authentication .form-edit-area h3{font-size: 14px;color:red;font-family: 微软雅黑;}
.g_position .cas_authentication .form-edit-area .cas_auth_tb_clumn1{width:80px;text-align: right; vertical-align: top;}
.g_position .cas_authentication .form-edit-area .cas_auth_tb_clumn1 label{display: block;margin-top:8px;}
.msgHeight{height:35px;z-index: 999;}
.msgHeight2{height:5px;z-index: 999;}
.forget-area, .reset-area {width: 988px;background-color: #FFF;margin: 60px auto 0;}
.forget-area .h {height: 24px;padding: 25px 0;margin: 0 30px;border-bottom: 2px solid #f7f7f7;text-align: center;}
.forget-area .h span {font-size: 24px;color: #333;font-weight: 600;display: block;}
.form-edit-area td {padding: 10px 2px;}
em.back a {color: #5C5C5C;}
.customer-footer .warrant-area p, .customer-footer a {color: #999;}

.ico-div {position: absolute;right: 16px;float: none;}
/*从各个jsp中抽取出来的行内样式-start*/

/*forgetbyid页面*/
.addbtmpad-msg-top8N-bottom8{margin-top: -8px;margin-bottom: 8px;}
.addbtmpad-msg-top4-bottom10{margin-top: 4px;margin-bottom: 10px;}
.form-edit-area .forIdmarBot{margin-bottom: 10px;margin-right: -4px;}
.form-edit-area .forIdCodeImg{padding:0 12px;}

/*forgetbyphone页面*/
#forget_msg p {padding: 4px 14px;}
.pwd-format-des-head {margin-bottom: 4px;}
.success-tips-EMUI5 {padding: 0;}
.success-tips-EMUI5 span{color: #41CE48;}
.pwd-error-border {border: 1px solid rgba(255,51,32,0.5)!important;}
.normal-tips-EMUI5, .gray-tips-EMUI5 {padding: 2px 0;font-size: 14px;line-height: 14px;}
.normal-tips {font-size: 14px;color: #000;}
.setPassword{position: relative;}
.forByPhoneSubTitle{font-size: 16px;color:#333;margin-top:10px;padding:8px 0;}
.forByPhoneDes{font-size: 14px;color:#999;}
.pwd-info #pwdStong{height:3px;}
.bottomSpaceDiv{height:40px;}

/*帐号恢复流程*/
/*checkSecAccount页面*/
.form-edit-area .head_text .checkSecAccP{color:#333;}
.form-edit-area .head_text .checkSecAccSpan{color:#333; padding-left: 0px;}
#securityAccountDiv{margin-right:-4px;border-radius:22px;}

/*recoverProcessing页面*/
.form-edit-area .head_text .recProcessP{padding: 10px 0 0 0;color: #666;font-size:14px;}
.form-edit-area .head_text .recProcessPadTop20 a{color: #007dff;font-size: 14px;text-decoration: none;}

/*inputSecAuthCode页面*/
.resetpwd-container p .inputSecCodeSpan{padding-left:0px;}
/*bindNewAccount页面*/
.dropdownInput-box #phoneInputDiv{padding:0;margin-bottom:0px;background-color: #f7f7f7;}

/*recoverSubmit页面*/
.form-edit-area .head_text .recSubmitP{color:#555;}

/*confirmTwoFacRecovery页面*/
.form-edit-area .confirmRecoveryPadding0{padding:0}

/*自助申述流程*/
/*noAuthCode页面*/
.content-text-ENUI5 {font-size: 15px;}
.sub-content {color: #000;font-size: 13px;line-height: 16px;margin-top:8px;}
.noAuthCodePad_top16{margin-top:16px;line-height:1.5;}
.lineHeight150{line-height:1.5;}
.lineHeight130{line-height:1.3;}
.center{text-align: center;}
/*inputAccount页面*/
.b .form-edit-area .inputAccount_width{width:395px;}
.input-area .paddingLandR12{padding:0 12px;}

/*applyChageAccount页面*/
.sub-content-applyChangeAcc {color: #999;font-size: 15px;}
.illustration_img_wrapper {height: 160px;margin-top: 20px;text-align: center;}
.illustration_img_wrapper img {height: 100%;}
.marginTop16{margin-top:16px;}
.marginTop8{margin-top:8px;}
.input-area #btnSubmit{width:210px;}

/*checkRegInfo*/
.head_text2{padding: 20px 0 10px 0;font-size: 16px;color: #333333;}
.tip-opacity{opacity: 0.5;}
.yearDiv .suffix {display: inline-block;font-size: 15px;vertical-align: middle;height: 18px;line-height: 17px;}
.checkRegInfo_fontSize14{font-size:14px;}
.head_text2 .checkRegInfo_color333{color:#333;}
.marginTop20{margin-top:20px;}
.form-edit-area .dateErrorInfo{padding:0; font-size:14px;}

/*uploadIDCard页面*/
.appeal-des-tip{font-size:13px;margin-top:10px;opacity:0.5;}

/*checkPassword页面*/
.checkPwd_pwd-msg{display: block;line-height: 20px;color: #ff3320;}
.form-edit-area .head_text p.paddingTop20 {padding: 20px 0 0 0;}
.form-edit-area .head_text p.paddingTop18 {padding: 18px 0 0 0;}
.form-edit-area #passwordDiv{margin-top:8px;max-width: 440px;padding:0 16px;}
.b .form-edit-area .checkPwdPadBottom0{padding-bottom:0;}
.input-div #password{height:44px;}
/*checkRealNameInfo--完成*/
/*checkRegInfo页面*/
/*uploadIDCard页面*/
.b .form-edit-area .uploadIDpadTop0{padding-top:0px;}
.uploadIDpadTop0 .appeal-des-tip{color:#666666;opacity:1;}
.uploadPicDiv{position:relative;width:440px;height:177px;}
.uploadPicDiv .leftPic{position:absolute;left:0px;top:0px;width:200px;height:177px;}
.uploadPicDiv .rightPic{position:absolute;right:0;top:0px;width:200px;height:177px;}
.uploadPicDiv .defaultBackPic{position:absolute;left:0px;top:0px;}
.uploadPicDiv .defaultBackPic img{max-width: 200px;max-height: 127px;}
#closeFrontBtn,#closeBackBtn{position:absolute;width:36px;height:36px;right:0px;z-index:20;display:none;}
#closeFrontBtn img, #closeBackBtn img{width:20px;margin-top: 8px;margin-left: 8px;}
#addFrontDiv, #addBackDiv{position:absolute;top:40px;width:100%;z-index:10;}
#addFrontBtn, #addBackBtn{width:48px;height:48px;margin-left:auto;margin-right:auto;}
#addFrontBtn img, #addBackBtn img{width:40px;margin-top: 4px;margin-left: 4px;}
.uploadPicDiv .previewImgDiv{position:relative;left:4px;top:3px;width:192px;height:122px;}
.uploadPicDiv .previewImgDiv img{max-width: 192px;max-height: 122px;}
.uploadPicDiv .loadingMask{position:absolute;left:0px;top:0px;width:200px;height:127px;background-color:black;opacity:0.3;z-index:10;display:none;}
.uploadPicDiv .loadingText{margin-top:58px;color:white;text-align:center;}
.uploadPicDiv .IDheadpic_des{position:absolute;top:127px;width:100%;}

/*bindNewPhone页面*/
.form-edit-area .input-area .text{padding: 6px 16px;}
.form-edit-area .input-area .paddingFix{padding: 6px 20px;}
.bindNewPhonecss .bindNewPhone-phoneDiv{margin-bottom:0px;}    
.bindNewPhonecss #auth_error_info{margin-top:2px;}
.form-edit-area .head_text p.color555{color:#555;}
.dropdownInput-box{padding:0 16px;height:44px}

.input-div input{width:100%;height:100%;border:0;background:transparent;font-size:15px}
.input-div{overflow:hidden;height:100%;position:relative}
.input-div label{top:13px}
#phoneInputDiv-box .input-div label{top:0px}
.input-div label div{min-width:300px}
.input-div .text{font-size:15px}
.bindNewAccountcss .getAuthbtn{margin-top:15px}
.bindNewAccountcss .getAuthbtn a{color:#007DFF;font-size:15px}
.bindNewAccountcss .getAuthbtn.auth_code_grey a {color:#d6e2f9}
.bindNewAccountcss .getAuthbtn a:hover{text-decoration: none}
.bindNewPhone-phoneDiv{margin-right:8px}

/*checkHistoryPwd页面*/
.marginBottom0,.form-edit-area .marginBottom0{margin-bottom:0;}
.checkHistoryPwd-subTip{margin-top:-10px;font-size:14px;color:#999;margin-bottom:20px;}
.accountText{color:#999;font-size:14px;}
.accountNum{color:#333;font-size:14px;}
.dinput-UI5 input.overflowHidden{overflow:hidden;}

/*checkBirthday*/
.checkBirth_fontSize14{font-size:14px;}
.bindNewEmailcss #auth_error_info{margin-top:2px;}

/*accountConfirmFail*/
.pageExpired {text-align: center; }
.pageExpired img {width: 66px;height: 66px;}
.pageExpiredInfo {text-align: center;font-size: 14px;margin-top: 8px;color: #999;}
/*accountConfirmFinish*/
.dotlist {margin-top: 8px;font-size: 14px;}
.dotlist li {line-height: 22px;height: 22px;color: #999;font-size: 16px;}
.liDot {width: 4px;height: 4px;border-radius: 2px;background-color: rgba(0,0,0,.3);margin-right: 8px;float: left;margin-top: 8px;}
.b .input-area .width210{width:210px;}
/*AccountConfirm*/
.b .form-edit-area .accountConfirm_headText p {font-size: 14px;line-height: 14px;color: #666;padding: 8px 0 0 0;}
.avatarDiv {margin-bottom: 20px;text-align: center;}
.avatarDiv img {height: 80px;border-radius: 40px;}
.resetpwd-container p span {padding: 0 5px;}
.avatarDiv .userAccount {text-align:center;}
.resetpwd-container .marginTop14{margin-top: 14px;}
/*从各个jsp中抽取出来的行内样式-end*/

#resetByIdFrom .lineHeight2 a{line-height:2.5;}
#resetByIdFrom .form-edit-area .head_text p.info{line-height:1.5}

/*applyChangeAccount*/
.applyChangeAccount .item1-info{font-size: 14px;color: #333;width: 50%;}
.applyChangeAccount .item2-info{font-size: 14px;color: #333;margin-top: 8px;width: 50%;}
.applyChangeAccount  .footDivStyle{bottom: 0px;margin-top: 16px;}
.applyChangeAccount .marginTop16{margin-top:16px;}
.applyChangeAccount .marginTop18{margin-top:18px;}
.applyChangeAccount .content-EMUI6{padding:0px 24px;}
.applyChangeAccount .content-text-ENUI6{font-size: 16px;color: #333;margin: 20px 0px 18px;}
.applyChangeAccount .content-normalTips,.wrapCheckPwd .content-normalTips{font-size: 13px;color: #000;}
.applyChangeAccount .content-attentionTips{font-size: 14px;color: #fb6522;}
.applyChangeAccount .content-attentionTips p{line-height: 18px}
.applyChangeAccount .bottomTips{margin: 12px 24px;font-size: 12px;color:#666;text-align: center;}
.applyChangeAccount .bottomTips a{color: #007dff;cursor: pointer;}
.applyChangeAccount .btn-EMUI5-2:active{background-color: #eaeaea;}
.applyChangeAccount .origin{width: 4px;height: 4px;display: inline-block;text-align: center;background-color: rgba(0,0,0,0.5);-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;vertical-align: middle;margin: 0px 6px 3px 4px;}
.applyChangeAccount .opacity05{color:#666;}
.applyChangeAccount .marginRight{margin-right:6px}
.checkPwd .checkPwd_pwd-msg{margin-top: 4px;}

.tick-on-icon {width: 18px;height: 18px;background-image: url(../../../common/images/tick-on.png);background-repeat: no-repeat;display: inline-block;background-size: cover;vertical-align: middle;margin-right: 4px;margin-bottom:3px}
.tick-off-icon {width: 18px;height: 18px;background-image: url(../../../common/images/tick-off.png);background-repeat: no-repeat;display: inline-block;background-size: cover;vertical-align: middle;margin-right: 4px;margin-bottom: 3px;}

.selectAppealType .underline,.selectAppealReason .underline{padding: 18px 0;font-size: 14px;color: #000;border-bottom: 1px solid #f2f2f2;}
.item-forward{background: url(images/arrow_right.png) right top no-repeat;padding-right: 16px;background-size: 12px 24px;display: inline-block;height: 24px;line-height: 25px;}
.item-a .item-left .item-radio{cursor: pointer;}
.item-a span{display: inline-block;vertical-align: middle;}
.radioBtnCheck {background-image:url(images/btn_check.png);background-size:cover;padding:10px;}
.radioBtnUnCheck {background-image: url(images/btn_unckeck.png);background-size:cover;padding:10px;}
.rightPart .description {display: none;}
.rightPart .description .description-tips{font-size: 14px;color: #333;}
.rightPart .description textarea{font-size: 14px;color: #ccc;resize: none;background:#f7f7f7;line-height: 18px;width: 390px;height: 132px;}
.sex-line-noborder .leftPart {margin-right: 8px;}
.sex-line-noborder .rightPart {margin-top: 2px;max-width: 86%;font-size: 14px;}
.padding016 .sex-line-noborder {font-size: 14px;color: #333;border-bottom: none;position: relative;}
.otherReasonDes {min-height: 80px;border-radius: 16px;padding: 8px 12px 0;background: #f0f0f0;font-size: 15px;}
#otherCause{border:1px solid #f0f0f0;color:#333;}
#otherReasonID .input-error-EMUI5{border: 1px solid rgba(255,51,32,0.5);}
.marginBottom8 {margin-bottom: 8px;}
.marginTop24{margin-top:24px;}
.sex-line-noborder .chooseTime {height: 21px;}
.selectAppealType .item-wrap-left{display:inline-block;width: 92%;vertical-align: middle;}
.selectAppealType .item-wrap-right{display:inline-block;width: 7%;vertical-align: middle;text-align: right;}
/*自助申述2.5.4.2版本新增--上传身份证*/
.protect_info{color:#999;font-size:13px;margin-top:13px;}

.accountConfirm .b .form-edit-area .accountConfirm_headText .userAccount{color: #333}
.accountConfirm .avatarDiv{margin-bottom: 34px;}
.selectAppealReason .leftPart{cursor:pointer;}

/*自助申述2.5.4.2版本新增--历史信息*/
.checkOldVerifyInfo .inline {display: inline-block;}
.checkOldVerifyInfo .check_userd {position: relative;height: 20px;}
.checkOldVerifyInfo .right0{position: absolute;top: 0px;right: -8px;z-index: 101;}
.checkOldVerifyInfo .addMoreSpan, .checkOldVerifyInfo .deleteInfoSpan {display: inline-block;padding: 0px 8px;line-height: 14px;font-size: 14px;color: #007dff;cursor: pointer;}
.checkOldVerifyInfo .subtractSpan:after {height: 0;width: 0;}
/*.checkOldVerifyInfo div.fiDropList, .checkOldVerifyInfo div.seDropList {width: 49%;position: relative;}*/
.checkOldVerifyInfo div.fiDropList, .checkOldVerifyInfo div.seDropList{width: 50%;height: 20px;}
.checkOldVerifyInfo #regular_area_year div.yearDiv {margin-right: 0;display: block;}
.checkOldVerifyInfo #been_area div.yearDiv, #been_area div.monthDiv {width: 49%;position: relative;margin-right: 0px;}
.checkOldVerifyInfo div.fiDropList .select-ico {position: absolute;right: 20px;margin-left: 0;margin-top: 9px;}
.checkOldVerifyInfo #beenArea1 {width: 49%;position: relative;}
.checkOldVerifyInfo div.seDropList .select-ico {position: absolute;right: 0;margin-left: 0;margin-top: 9px;}
.checkOldVerifyInfo .appeal-slicer {width: 175px;height: 10px;border-bottom: 1px solid #CCCCCC;}
.checkOldVerifyInfo .check-userd-right span {float: left;display: inline-block;line-height: 19px;}
.checkOldVerifyInfo .check-userd-right input {float: left;}
.checkOldVerifyInfo .title-split-line {background-color: #e1e1e1;height: 3px;}
.checkOldVerifyInfo div.paramsLine {height: 1px;width:100%;background-color: #e5e5e5;position: absolute;bottom: -16px;left: 0px;}
.checkOldVerifyInfo .paramsLineMid {height: 1px;width:100%;background-color: #e5e5e5;margin-top: 16px;margin-bottom: 4px;}

.checkOldVerifyInfo .line-area{width:100%;height: 6px;margin-top:18px;margin-bottom:18px;background-color: #f2f2f2;}
.checkOldVerifyInfo .register-setborder {margin-top: 10px;padding-bottom:10px;position: relative;}
.checkOldVerifyInfo div.paramsLineLucency {height: 8px;background-color: rgba(0, 0, 0, 0.03);margin-top: 16px;}
.checkOldVerifyInfo div.deleteInfo {font-size: 14px;height: 20px;position: relative;margin-top: 16px;margin-bottom: 16px;}
.checkOldVerifyInfo .check_userd input {height: 18px;width: 18px;vertical-align: middle;}
.checkOldVerifyInfo .check_userd span {vertical-align: middle;}
.checkOldVerifyInfo #register_area_year .yearDiv,
.checkOldVerifyInfo #register_area_year .monthDiv {width: 90px;}
.checkOldVerifyInfo #register_area_year .select-ico{position: absolute;right: 10px;margin-left: 0;margin-top: 9px;}
.checkOldVerifyInfo .marginTop10 {margin-top: 10px;}
.checkOldVerifyInfo .marginBottom10,.applyChangeAccount .marginBottom10{margin-bottom: 10px;}
.checkOldVerifyInfo .paddingTop10 {padding-top: 10px;}
.checkOldVerifyInfo .tick-on-icon, .checkOldVerifyInfo .tick-off-icon {width: 18px;height: 18px;}
.checkOldVerifyInfo .ddrop-EMU5 {position: relative;display: inline-block;height: auto;line-height: 25px;}
.checkOldVerifyInfo .dinput-UI5 {max-width: 500px;padding: 0 16px;background-color: #f7f7f7;position: relative;margin-bottom: 0px;}
.checkOldVerifyInfo div.deleteInfoForIcon {margin: 0;height: 1px;position: relative;}
.checkOldVerifyInfo div.deleteInfoForIcon div.right0 {margin-top: -33px;right: -35px;}
.checkOldVerifyInfo .sectionTitle{font-size: 14px;color: #333;margin-right: 45px;}
.checkOldVerifyInfo .fontSize16{font-size: 16px;}
.checkOldVerifyInfo .history-source{font-size: 14px;}
.checkOldVerifyInfo .item-value{margin-top:5px;font-size: 12px;color: #666;}
.checkOldVerifyInfo .dpmenu-EMUI5-down {top: 26px;left:8px;min-width: 156px; max-width: 280px;}
.checkOldVerifyInfo #regular_area_year .dpmenu-EMUI5-down {min-width: 180px;}  
.checkOldVerifyInfo #regular_area_year .uc-line{width: 154px!important;}
.checkOldVerifyInfo .padding0{padding: 0;}
.checkOldVerifyInfo .wrap-disable{position: absolute;width: 100%;height:100%;top: 0px;left: 0px;z-index: 100;display: none; }
.checkOldVerifyInfo .beenArea1,.checkOldVerifyInfo .beenArea2{position: relative;}
.checkOldVerifyInfo .vam{cursor: pointer;}
.checkOldVerifyInfo .been-error{padding: 6px 0 0;}
.checkOldVerifyInfo .disabled-addbtn{opacity: 0.2;filter: alpha(opacity=20);}
.checkOldVerifyInfo .suffix{font-size: 14px;}
.checkOldVerifyInfo .ddrop-EMU5 .select-text{font-size: 14px;}
.checkOldVerifyInfo .paddingTop6{padding-top: 6px;}

.visibility-hide{position: absolute;left: -100000px;}
.content-normalTips .pointerCursor{cursor: pointer;}
.portalCheckPassword .checkPwd_pwd-msg{margin-top: 4px;padding-left:16px;}
.portalCheckPassword .marginBottom0{margin-bottom: 0px;}
.resetpwd-container .paddingLeft0{padding-left: 0;}

.form-edit-area .head_text.paddingBot10{padding-bottom: 10px;}
.inputShelter{position: absolute;z-index: 100;top: 0;opacity: 0;}
.error-tips-EMUI6{margin: 0px;padding: 4px 16px 20px 16px;font-size: 14px;color: #ff3320;display: block;}
.form-edit-area .input-area div.input-right-msg .lineHeightFix{line-height: 44px;}
.splitLine{border-bottom: 1px solid #eee;}
.head_center .main-logo img{margin-top: 17px;margin-left: 4px;}
.error-tips-Left{margin: 0px;padding:4px 0 0;font-size: 14px;color: #ff3320;display: block;}
.opacity20{opacity: 0.2;filter: alpha(opacity=20);}


.applyChangeAccount .font-13{font-size: 13px}
.applyChangeAccount .font-medium{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight: bold;}
.applyChangeAccount .itemList{display: inline-block}
.btn-EMUI6 {width: 200px;display: block;margin: 0 auto;border-radius: 22px;height: 44px;border: 1px solid #005fc2;background-color: #007dff;color: #ffffff;font-size: 14px;cursor: pointer;text-align: center;}
.btn-EMUI6:hover{background-color: #0076F2;}
 .left-nav{width:200px}
.appealContainer{margin-top:30px;}
.appealContent{width: 961px; min-width: 961px; margin: auto; background-color: #FFF;-webkit-box-shadow:0px 2px 8px rgba(0,0,0,0.1);-moz-box-shadow:0px 2px 8px rgba(0,0,0,0.1);box-shadow: 0px 2px 8px rgba(0,0,0,0.1);}
.appealLeftContent{overflow: hidden; border-left: 1px solid #e2e2e2; min-height: 600px;}
.appeal-type .nav-step-container,.appeal-history-info .nav-step-container,.appeal-identity-info .nav-step-container,.appeal-new-account .nav-step-container
{
display:inline-block !important;
}
.nav-title-container{width:684px;}
.nav-content{padding:0 70px}
.nav-step-container{padding:25px 0;;margin:0 auto}
.nav-item{padding:24px 20px;border-bottom:1px solid #e2e2e2;font-size:18px;color:#666;display:block;text-decoration:none}
.nav-item:hover{text-decoration:none}
.nav-item.active{background-color:#f2f8ff;border-bottom:1px solid #99cbff}
.nav-item .nav-ico,.nav-item .nav-des{border-bottom:1px solid #e2e2e2;}
.nav-item.active .nav-ico,.nav-item.active .nav-des{border-bottom:1px solid #99cbff}

.nav-item span{vertical-align:middle;display:inline-block;*vertical-align:baseline;}
.nav-title{font-size:12px;color:#999;width:25%;text-align:center}
.step-count-3 .nav-title{width:33%}
 .nav-title-container{margin-bottom:8px}
 .step-count-3 .nav-title-container{width:513px;}
.dot
{
	display:inline-block;
	vertical-align:middle;
	*float:left;
}
.appeal-type .appeal-type.dot,.appeal-history-info .appeal-history-info.dot,.appeal-identity-info .appeal-identity-info.dot,.appeal-new-account .appeal-new-account.dot
{
	 width: 16px; height: 16px;
	background: url('images/web_appeal_nav.png') -66px -10px;
	margin:0 4px;
}
.appeal-type .dynamicTitle
{
	display:none;
}
.appeal-new-account .staticTitle ,.appeal-history-info .staticTitle ,.appeal-identity-info .staticTitle 
{
	display:none;
}
.appeal-history-info .appeal-type.dot-line
{
	border-bottom:1px solid #b6d9fe;
}

.appeal-history-info .appeal-type.dot
{
	background: url('images/web_appeal_nav.png') -10px -10px;
}  

.appeal-identity-info .appeal-type.dot-line,.appeal-identity-info .appeal-history-info.dot-line
{
  border-bottom:1px solid #b6d9fe;	
}

.appeal-identity-info .appeal-type.dot,.appeal-identity-info .appeal-history-info.dot
{
	background: url('images/web_appeal_nav.png') -10px -10px;
}  
.appeal-new-account .appeal-type.dot-line,.appeal-new-account .appeal-history-info.dot-line,.appeal-new-account .appeal-identity-info.dot-line
{
  border-bottom:1px solid #b6d9fe;	
} 

.appeal-new-account .appeal-type.dot,.appeal-new-account .appeal-history-info.dot,.appeal-new-account .appeal-identity-info.dot
{
  background: url('images/web_appeal_nav.png') -10px -10px;
} 
 
 .dot-line{
	width:139px;
	border-bottom:1px solid #ccc;
	display:inline-block;
	vertical-align:middle;
	*float:left;
	*margin-top:-7px
}
.web-nav-active-small{
    width: 8px; height: 8px;
    background: url('images/web_appeal_nav.png') -10px -10px;
    margin:0 8px;
    
}

.web-nav-active-big{
    width: 16px; height: 16px;
    background: url('images/web_appeal_nav.png') -66px -10px;
    
}
.web-nav-gray  {
    width: 8px; height: 8px;
    background: url('images/web_appeal_nav.png') -38px -10px;
    margin:0 8px;
}
.web-nav-submit {
    width: 21px; height: 20px;
    background: url('images/web_appeal_nav.png') -293px -10px;
    
}
.web-nav-search {
    width: 19px; height: 20px;
    background: url('images/web_appeal_nav.png') -254px -10px;
   
    
}
.delete-item-ico {
	padding:9px;
    background: url('images/web_appeal_nav.png') -102px -10px;
}

.add-item-ico {
	padding:9px;
    background: url('images/web_appeal_nav.png') -140px -10px;
}
.un-select-ico {
	padding:9px;
    background: url('images/web_appeal_nav.png') -178px -10px;
}

.selected-ico {
	padding:9px;
    background: url('images/web_appeal_nav.png') -216px -10px;
}
 



#devInfoContainer .ddrop-EMU5{display:block;overflow:hidden}
#devInfoContainer .select-ico{float:right;margin-top:8px}
.IEMIError{padding:0 16px;}

.td-position{
	position: relative;height: 35px;
}

.appeal-title
{
	position:absolute;top: 20px;width:730px;padding:14px 0 7px 30px;font-size:14px;color:#36383c;background-color:#f2f2f2;
}
.checkOldVerifyInfoV3 td.appeal-second-title{padding-top: 10px;padding-left: 30px;font-size: 14px;color: #999;}

.checkOldVerifyInfoV3 {min-height:550px;margin-bottom:30px;background: #fff;}
.checkOldVerifyInfoV3 .pcActionbar{height: 32px;line-height: 36px;background: #f2f2f2;padding-left: 30px;font-size: 14px;color: #333;}
.checkOldVerifyInfoV3 .ItemTittle{min-width: 126px;font-size: 14px;color: #666;max-width: 220px;padding-left: 30px;line-height: 14px;}
.checkOldVerifyInfoV3 .ItemDetail{margin-left: 30px;}
.checkOldVerifyInfoV3 .historyItemTitle{text-align: right;}
.checkOldVerifyInfoV3 .boxArea{width: 97px;height: 44px;border-radius: 22px;padding:0 15px;font-size:14px;color:#333;background: #f2f2f2; float: left;position: relative;}
.checkOldVerifyInfoV3 .boxAreaCountry{width: 118px;}
.checkOldVerifyInfoV3 .marginRight8{margin-right: 8px;}
.checkOldVerifyInfoV3 .regularAreaItem{margin-bottom: 10px;}
.checkOldVerifyInfoV3 .contentSection{position: relative;width:420px;padding-bottom: 10px;}
.checkOldVerifyInfoV3 .inputdetail{ width: 388px;height: 44px;line-height: 44px; padding: 0 16px;border-radius: 22px; background-color: #f2f2f2;}
.checkOldVerifyInfoV3 .contentSection input{border: none;outline: none;background: #f2f2f2;height: 100%;width: 100%; }
.checkOldVerifyInfoV3 .addBtnwraper{padding-left: 15px;cursor: pointer;position: relative;}
.checkOldVerifyInfoV3 .addIcon{display:inline-block;position:absolute;width: 18px;height: 18px;background: url('images/web_appeal_nav.png') no-repeat -140px -10px;}
.checkOldVerifyInfoV3 .addBtnFont{padding-left: 30px;height:18px;line-height:18px;font-size: 14px;color: #0d82fb}
.checkOldVerifyInfoV3 .select-ico {position: absolute;width:14px;height: 10px;background-image: url(images/ic_unfold_gray_03.png);background-size: contain;right:16px;top: 18px;  }
.checkOldVerifyInfoV3 .dateBox{position: relative;padding:0 15px;width: 176px;height: 44px;border-radius:22px;background-color: #f2f2f2; }
.checkOldVerifyInfoV3 .inputDate{width: 100%;height: 100%;}
.checkOldVerifyInfoV3 .secondhistoryItemTitle{padding-left: 16px;font-size: 12px;color:#999;}
.checkOldVerifyInfoV3 .handdle{position: absolute;right: -30px;top: 13px;}
.checkOldVerifyInfoV3 .deletIcon,
.checkOldVerifyInfoV3 .areaDeletIcon{display: inline-block;width:18px;height: 18px;background: url('images/web_appeal_nav.png') no-repeat -102px -10px;background-repeat: no-repeat;cursor: pointer; }
.checkOldVerifyInfoV3 .devDeletIcon{display: inline-block;width:18px;height: 18px;background: url('images/web_appeal_nav.png') no-repeat -102px -10px;background-repeat: no-repeat;cursor: pointer;padding: 0px;}
.checkOldVerifyInfoV3 .itemContainer .handdle{top: 13px;}
.checkOldVerifyInfoV3 .regularAreaItem{position: relative;}
.checkOldVerifyInfoV3 .hide{display: none;}
.checkOldVerifyInfoV3 .ddrop-EMU5{width: 100%;} 
.checkOldVerifyInfoV3 .registrationDate .select-ico{right: 0px;}
.checkOldVerifyInfoV3 .input-area{margin-top: 10px;}
.checkOldVerifyInfoV3 .input-area .button-half{width: 200px;}
.checkOldVerifyInfoV3 th{vertical-align: top; padding-top: 35px;}
.checkOldVerifyInfoV3 td{padding-top: 20px;}
.checkOldVerifyInfoV3 .error-tips-EMUI5{padding-bottom: 0px;padding-top: 4px; font-size: 12px;}
.registrationDate .suffix{color: rgb(51,51,51)!important;font-size: 14px; }
.checkOldVerifyInfoV3 .ddrop-EMU5 .select-text{display: inline-block;max-width: 90%;font-size: 14px;word-break: normal; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.checkOldVerifyInfoV3 .from-query .ddrop-EMU5 .select-text{height: 16px;line-height: 16px;}
.historyPasswordValue,
.historyEmailValue,
.historyPhoneValue{font-size: 14px;}
.registrationDate .dpmenu-EMU5 {width: 100%!important}
.registrationDate .dpmenu-EMU5 .uc-line{width: 80%!important}
.checkOldVerifyInfoV3 .input-area input.button.blue_background.disabled{background: rgba(0, 125, 255, 0.2);color: white; border: 1px solid rgba(0, 95, 194, 0.2);}
.checkOldVerifyInfoV3 .input-area .blue_background {color: #fff;background-color: #007dff;}
.checkOldVerifyInfoV3 .input-area .blue_background:hover {background-color: #0076F2;}
.checkOldVerifyInfoV3 .requiredIcon{display:inline-block;color: #ff3320;font-weight: bolder;}
.checkOldVerifyInfoV3 .padding0{padding: 0!important;}
.checkOldVerifyInfoV3 .page-error-tips{color: #ff3320;font-size: 12px;padding-left: 46px;}

.applyChangeAccount .resetpwd-container{width: 715px;margin: 24px 30px;}
.emui6_title1{font-size: 16px;color: #333;}
.emui6_title2{font-size: 14px;color: #333;}
.emui6_title3{font-size: 14px;color: #999;}
.label18{margin: 18px 0}
.applyChangeAccount .itemList{display: inline-block;width: 100%;}
.applyChangeAccount .itemList .emui6_title3{width: 50%;}
.attention-context{margin-bottom: 20px;font-weight: bold;}
.form-edit-area .appealLabelTitle{padding: 13px 30px 6px;background: #f2f2f2;font-size: 14px;color: #36383c;}
.applyChangeAccount .form-edit-area .inputAccountForm{width: 440px;margin: 0 30px;}
.marginTop20{margin-top: 20px;}
.marginTop6Fix{margin-top: -6px;}
.applyChangeAccount .step-area,.selectAppealType .step-area{margin: 20px 0;}
.applyChangeAccount #authCodeRight{position: relative;left: 221px;top:0;}
/* .applyChangeAccount .codeInputDiv #randomCodeDiv{padding: 6px 0;width: 418px;} */
/* .applyChangeAccount #randomCodeDiv input{padding: 6px 20px 4px;} */
/* .applyChangeAccount #username-input .inputAccount_width{width: 378px;} */
.cleanMargin{margin: 0;}
.applyChangeAccount .disabled,.selectAppealType .disabled{background-color: rgba(0,125,255,0.2);cursor: not-allowed;border: 1px solid rgba(0,95,194,0.2);}
.applyChangeAccount .widthFix{width: 440px;}
.selectAppealType .item-left,.selectAppealType .item-right{display: inline-block;}
.selectAppealType .radioBtnUnCheck,.selectAppealType .radioBtnCheck{padding: 9px;}
.selectAppealType #content{margin: 0 30px;}
.selectAppealType #content .item-label{font-size: 14px;color:#333333;padding-left: 8px;}
.selectAppealType .button-halfFix{width: 210px;}
.bindNewFinish .step-area{margin-top: 30px;}
.bindNewFinish .step-area .button{margin:0;}
.applyChangeAccount .form-edit-area #username-input label{padding-top: 2px!important;}

/* 自助申诉查询单号相关样式 */
.reflesh{width:24px !important;height:24px;margin:10px;}
.btn-next1{padding: 12px;font-size: 14px;display: block;text-align: center;border: 1px solid #005FC2;background-color: #007dff;border-radius: 50px;line-height: 1;text-decoration: none;cursor: pointer;}
.content-text-ENUI5,.content-any{font-size: 14px;}
.line-left{display: inline-block;text-align: right;margin-right: 20px;vertical-align: middle;}
.line-right{width:50%;display: inline-block;padding:0 16px;border-radius:22px;min-height:44px;background-color:#f7f7f7;margin-bottom: 4px;vertical-align: middle;}
.line-right-rancode{width:50%;display: inline-block;border-radius:22px;min-height:44px;background-color:#f7f7f7;margin-bottom: 4px;vertical-align: middle;width: 382px;}
.line-right input,.inputAppealOrder{font-size:14px;color:rgb(0,0,0);width:100% !important;min-height:44px;line-height:44px;border:none;background-color:transparent;outline:none;padding:0;}
.content-any{margin-bottom: 8px;}
.verify-right{position: absolute;right:-30px;top: 0px;}
.code-verify{position:relative;}
.authCodecheck{display:inline-block;line-height: 40px;margin-left: 8px;margin-top: 8px;width:18px;height: 18px;}
.actionbar{padding: 20px 0px;color: #000;font-size: 16px;height: 20px;line-height: 20px;}
.content-main{padding: 0px 30px;}
.content-main-status{padding: 80px 170px;}
.content-status{width:450px;margin: 0px auto;}
.actionbar-status{text-align: center;padding-bottom: 24px;color: #000;font-size: 16px;}
.img-status{width: 40px; height: 40px;margin-bottom: 15px;}
.footBtn-next{display:inline-block;min-height:44px;width:200px; }
.btn-next-col{background-color:#f7f7f7 !important;color: #007dff;}
.btn-next-col:hover{background-color: #EAEAEA !important;}
.btn-next{padding: 12px;font-size: 14px;display: block;text-align: center;border: 1px solid rgba(0, 0, 0, 0.1);background-color: #007dff;border-radius: 50px;line-height: 1;text-decoration: none;cursor: pointer;}
.blod{font-weight:bold}	
.td-padding{padding-left: 4px !important;}
/* .div-table{display:table;margin: 0px auto;} */
/* .div-tr{display:table-row;} */
/* .div-th{white-space:nowrap;text-align:right;color:#999999;} */
.div-th{color:#999999;}
/* .div-th,.div-td{display:table-cell;padding:4px 0;line-height: 1.5;} */
.div-th,.div-td{line-height: 1.5;}
.dayTime{font-weight: bold;color: black;}
.addInfoLink{font-size:14px;margin-top: 16px;margin-bottom: 20px;}
.addInfoLink a{color:#007dff;}
.addInfoLink a:hover{text-decoration: none;color: #0064cc;}
.line-all{font-size: 14px;margin-bottom: 8px;color: rgba(0,0,0,0.5);}
.error-underline {
    border: 1px solid rgba(255,51,32,0.3) !important;
}
.underline-error-tips{color:#ff3320;font-size:12px;margin:4px 0;}
.ic-delete{padding:9px}
input::-webkit-input-placeholder{font-size:15px;color:#ccc;}
 input:-ms-input-placeholder{font-size:15px;color:#ccc;}
 input::-moz-placeholder{font-size:15px;color:#ccc;}
 input:-moz-placeholder{font-size:15px;color:#ccc;}
 .devInfoInput.ddrop-EMU5 {display:block;}
 .itemContainer .handdle{top:22px}
 
.checkOldVerifyInfoV3 .regularArea .dpmenu-EMU5 ,.devid-input .dpmenu-EMU5 {left: 16px!important;top: 42px!important;}
.paddingTop20{padding-top: 20px!important;}
.paddingTop12{padding-top: 12px!important;}
.checkOldVerifyInfoV3 .actionbar{margin-left: 30px}
#addBtn_regularArea,#addIMEILine,#addDevList,
.checkOldVerifyInfoV3 .addBtn,
.checkOldVerifyInfoV3 .addBtnwraper,
.checkOldVerifyInfoV3 .addBtnFont{display: inline-block;}
.checkOldVerifyInfoV3 .inputbox{font-size: 14px;}
.head_center {
    width: 960px;
    height: 67px;
    margin: 0px auto;
    border: 0px;
    position: relative;
}

.checkOldVerifyInfoV3 .disableDrop{background-color: #e9e9e9;}
.checkOldVerifyInfoV3 .disableDrop .select-ico{opacity: 0.4;filter: alpha(opacity=40);}
.checkOldVerifyInfoV3 .disableDrop .select-text{color: #999;}

.table-el
{
	display:table !important;
}
.tr-el
{
	display:table-row !important;
}
.td-el
{
	display:table-cell !important;
}
.nav-ico{padding:20px 16px 20px 24px;width:21px;vertical-align:middle}
.nav-des{padding:20px 24px 20px 0px;vertical-align:middle}

.adjust-height{height: auto;padding-bottom:32px; }
.checkOldVerifyInfoV3 .page-error-tips2{color: #ff3320;font-size: 12px;padding-left: 46px;padding-top: 4px;}
.from-query #devinfo th{padding-top: 25px;}
.from-query #devinfo td{padding-top: 10px;}
.checkOldVerifyInfoV3 #cardList .dpmenu-EMU5{left: 12px!important}
.applyChangeAccount #authCodeRight { 
    right: 221px;
}

.checkOldVerifyInfoV3 .uploadID #uploadSpan2{max-width: 200px;}
.checkOldVerifyInfoV3 .maxWid420{max-width: 420px;}
.checkOldVerifyInfoV3 .paddingLeft16{padding-left: 16px;}
.forget .g{width: 960px;}
.forget .g .resetpwd-container, .reset-area{width:auto;}

/*CommonEmui5.csss样式*/
/*EMUI5 样式*/
html {color: #5C5C5C; background-color: #D4D4D3; height:100%; overflow-y:auto; background: #f1f1f1; } 
.clearfix {*zoom: 1;}
.clearfix:after {
	display: block;
	clear: both;
	visibility: hidden;
	content: ".";
	height: 0;
	overflow: hidden;
}
.form-edit-area .head_text {padding: 20px 0; } 
.form-edit-area .head_text em {
	font-size: 16px;
	color: #333333;
}
.form-edit-area .input-area {
	position: relative;
	/* margin-bottom: 10px; */
	border-radius: 22px;
}
.form-edit-area .text,.form-edit-area .verify,.borderCss{
    border: 1px solid #f7f7f7;
	color: #333333;
	height: 30px;
    line-height: 30px;
    padding: 6px 16px;
    font-size: 14px;
	border-radius: 0px;
	background-color: #f7f7f7;
    width: 408px;
    border-radius: 22px;
    margin: 0!important;
}
.form-edit-area .input-area input.with-dropdown-left {
    padding-left: 108px;
    width: 310px;
}
.form-edit-area .input-area div.dropdown-left {
	position: absolute;
  	margin-left: 20px;
}

#resetByIdFrom #phoneInputDiv .dropdown-left{margin-left:0;}

.form-edit-area .input-area input.with-right-msg {
	padding-right: 114px;
 	width: 308px;
}
.forget .form-edit-area .input-area input.padR112{padding-right:112px;}
.form-edit-area .input-area div.input-right-msg {
	position: absolute;
	right: 0;
	top:0;
	height: 44px;
	line-height: 44px;
	margin-right: 20px;
	z-index:5;
}
.form-edit-area .input-area div.input-right-msg a {
	line-height: 38px;
  text-decoration: none;
  color: #007dff;
  font-size: 14px;
}
.notGetCode{margin-top:20px;margin-bottom:30px;text-align:center;}
.notGetCode a{text-decoration:none;}
.setPassword ,.confirmpassowrd{padding-bottom:10px;}
.lb_opacity_Class {color: #cccccc; border-radius: 22px;} 
.input-area .button {
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 22px;
  height: 44px;
  border: 1px solid #dcdcdc;
  background-color: #f7f7f7;
  color: #007dff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
.step-area {
	margin-top: 80px;
}
.input-area .button-half {
	float: left;
  width: 210px;
}
.input-area .button-half:first-child {
	margin-right: 17px;
}
.input-area .button-half:hover, .input-area .button:hover {
	background-color: #EAEAEA;
}
.input-area .radio-group {
  border-bottom: 1px solid #eee;
}
.border_bottom{
  border-bottom: 1px solid #eee;
}
.input-area .radio-group p {
	display: inline-block;
  line-height: 44px;
  font-size: 16px;
}
.input-area .radio-group .radio-box {
  float: right;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin: 11px 0;
  background-color: #fff;
  border-radius: 22px;
  cursor: pointer;
}

.input-area .radio-group .radio-box.radio-selected {
  width: 12px;
  height: 12px;
  border: 5px solid #007dff;
}
.input-area .other-info {
	line-height: 44px;
	font-size: 14px;
  text-align: center;
}
.input-area .other-info a {
	color: #007dff;	
	text-decoration: none;
}
.input-area .other-info a:hover, .form-edit-area p.info-other a:hover {
	color: #0064cc;
}
.input-area .button-next {
	width: 100%;
  border-radius: 22px;
  height: 44px;
  border: 1px solid #dcdcdc;
  background-color: #f7f7f7;
  color: #007dff;
}
.input-area .verifyCode {
	float: left;
	width: 50%;
}
#randomCodeDiv {
	border-radius: 22px;
	width: 208px;
}
#randomCode {
	width: 80%;
}
#authCodeRight {
	position: relative;
	top: -18px;
	left: 5px;
}
.auth_code_grey {
    color: #d6e2f9;
    cursor: auto;
}
.form-edit-area .input-area div.auth_code_grey a {
  color: rgba(0,125,255,0.2)!important;
}
.error-tips-EMUI5 {
    margin: 0px;
    padding: 2px 16px 10px 16px;
    font-size: 14px;
    color: #ff3320;
    display: block;
}
.input-area .randomCodeImg {
  width: 100px;
  height: 44px;
  cursor: pointer;
}
.dropdownInput-box {
	min-height: 44px;
  border-radius: 22px;
  background-color: #f7f7f7;
  cursor: pointer;
}
.dinput-UI5 {
	max-width: 130px;
  min-width: 110px;
  height: 44px;
  padding: 0;
  line-height: 44px;
}
.dinput-UI5 * {
  font-size: 14px;
}
.ddrop-EMU5 {
  position: relative;
  display: inline-block;
  height: 44px;
  line-height: 44px;
}
.dpmenu-EMU5 {
  position: absolute;
  min-width: 136px;
  max-width: 260px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 1px 0 1px rgba(0,0,0,0.2), -1px 0 1px rgba(0,0,0,0.2);
  max-height: 200px;
  z-index: 1000;
}
.dpmenu-EMUI5-down {
  top: 40px;
}
.dpmenu-EMU5 li {
	word-break: break-all;
  word-wrap: break-word;
  font-size: 15px;
  padding: 8px 16px;
  overflow: hidden;
  line-height: 1;
}

.form-edit-area .input-area .input-div input {
  max-width: 280px;
  /* padding-left: 6px; */
  padding-left: 20px;
}
.input-area input.button.disabled {
  background-color: #f7f7f7;
  color: #d6e2f9;
  cursor: not-allowed;
}
.input-error-tips {
  font-size: 14px;
  padding: 2px 20px 10px;
  color: #ff3320;
  display: block;
}
.input-error-EMUI5,.form-edit-area .input-error-EMUI5{
    border: 1px solid rgba(255,51,32,0.5);
}
/*.form-edit-area .verify {
	width: 204px;
}*/
/*.form-edit-area .input-area .verify-img {
  display: block;
  width: 182px;
  height: 46px;
  background-color: #ddd;
  float: right;
}*/
.form-edit-area a.vam {
	font-family: Tahoma;
}
.form-edit-area a.link {
	color: #004E97;
	text-decoration: underline;
}
.resetpwd-container,.reset-area {
	width: 998px;
	background-color: #FFF;
	margin: 30px auto 0;
}
.resetpwd-container .h,.reset-area .h,.resetpwd-container .h_activity {
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #f7f7f7;
  margin: 0 30px;
}
.resetpwd-container .h_activity h3 {
	background-position: -290px 0;
}
.resetpwd-container .h span,.reset-area .h span ,.resetpwd-container .h_activity span {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    display: block;
}
.resetpwd-container .b {
  height: auto;
  min-height: 550px;
  width: 440px;
  margin: 0 auto;
}
.resetpwd-container p span {
	padding-left: 15px;
}
.resetpwd-container .f,.reset-area .f {
	height: 20px;
	background-position: 0 bottom;
}
.form-edit-area .head_text p {
 	padding: 10px 0 0 0;
	font-size: 14px;
	color: #999;
}
.form-edit-area .head_text .dayTime{
	color:#fb6522;
	padding:0 5px;
}
.form-edit-area .sub_title{
	font-size:16px;
	color:#333;
	margin:20px 0 -10px;
}
.form-edit-area .head_text p.info {
	color: #666;
}
.form-edit-area p.info-other {
	padding-top: 20px;
	text-align: center;
}
#resetByIdFrom .form-edit-area .textLpadT8{
	text-align:left;
	padding-top:8px;
}
.form-edit-area p.info-other a {
	color: #007dff;
  font-size: 14px;
  text-decoration: none;
}
.form-edit-area input.vam {
	_margin-top: -2px;
}
.form-edit-area .textarea {
	border: 1px solid #D1D1D1;
	padding: 2px 4px;
}
.radio,.checkbox {
	margin-right: 5px;
}
.checkbox {
	*width: 13px;
	*height: 13px;
}
.form-edit-area .input[disabled] {
	background-color: #F0F0F0;
	color: #8B8B8B;
}
.g {
	width: 1002px;
	margin: 20px auto;
	zoom: 1;
}
.g:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
.gray-tips {
	padding: 2px 0px;
	font-size: 15px;
	color: #999;
}
.normal-tips-EMUI5 {
	padding: 0;
	font-size:13px;
}
.input-area input::-webkit-input-placeholder {
	color: #ccc;
} 
.input-area input::-moz-placeholder {
	color: #ccc;
}
.input-area input:-moz-placeholder {
	color: #ccc;
} 
.input-area input:-ms-input-placeholder {
	color: #ccc;
}
.global_dialog_confirm_title {
	border-bottom: 2px solid #f7f7f7;
}
.form-edit-area .userAccount{
	color:#333;
}
.resetpwd-container .userAccount{
	padding-left:0;
	padding-right:0;
}
.pwd-info {
    margin-top: 10px;
    padding-left:16px;
}
.forget #inputAuthCode{width:440px;}

.randomCodeUI6{position: relative;border-radius: 22px;height: 44px;background-color: #f7f7f7;}
.randomCodeUI6 .randomCodeImg{position: absolute;top: 2px;padding:0!important;height: 40px;z-index: 100;}
.randomCodeUI6 #randomCodeRight{width: 18px;height: 18px;position: absolute;top: 13px;padding: 0!important;}
.randomCodeUI6 #randomCodeDiv{width: 100%;}

/*******forgotPwdV3*********/
#forgetByIdV3Form .accountTypeTips{padding: 20px 0;color: rgba(0,0,0,0.5);line-height: 1.3;font-size: 16px;}
#forgetByIdV3Form .accountFormTips span{display: block;color: rgba(0,0,0,0.5);line-height: 1.3;font-size: 14px;}

#checkAuthCodeFrom .checkAuthCodeHeadTitle{padding: 20px 0 10px;line-height: 1.3;font-size: 16px;color: #333;}
#checkAuthCodeFrom .checkAuthCodeHeadtips{font-size: 14px;color: #999;line-height: 1.3;margin-bottom: 20px;}
#checkAuthCodeFrom .cantUsephoneOrEmail{font-size: 14px;color: #333;text-align: center;line-height: 1.3;padding: 0;}
#checkAuthCodeFrom .authCode-errorTips{font-size: 14px;padding: 2px 20px 0px;color: #ff3320;display: block;}

#resetSuccess .successPicPosition{margin:120px auto 30px;}

.forget .blodFont{font-weight: bold;color: #333;}

.forget .radio-group .selectItem{width: 12px;background-size: 12px 24px;display: inline-block;height: 48px;line-height: 48px;background-position: center;background-repeat: no-repeat;}

.forget .gotoAppeal{font-size: 14px;text-align: center;margin-top:30px;}
.forget .gotoAppeal a{color: #007dff;text-decoration: none;}
.forget .gotoAppeal a:hover{color: #0064cc;}

.forget .error-tips-EMUI8{font-size: 12px;color: #ff3320;margin-top: 2px;}
.forget .selectAccount .radio-group p{max-width: 94%; line-height: 1;}
/* 解决：自助申诉-绑定新手机号--最后一步--国家码过长*/

#input_languageCode.ddrop-EMU5 .select-text {display: inline-block;max-width: 200px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

/*忘记密码-安全问题*/
.secQuestion .forget .appIconBox .radioBtnCheck, .secQuestion .forget .appIconBox .radioBtnUnCheck {position: absolute;top:50%;margin-top:-12px;right:3px;}
.secQuestion .forget .radioBtnCheck, .secQuestion .forget .radioBtnUnCheck {position: absolute;top:50%;margin-top:-12px;right:0px;}
.secQuestion .secQuestion-borderLine {border-bottom: 1px solid #cccccc;}
.secQuestion .item-descript{display: table-cell;vertical-align: middle;}
.secQuestion .secQuestion-item{padding: 8px 0;min-height: 32px;font-size: 14px;color: #333333;display: table;width: 100%;position: relative;word-break:break-all;word-wrap:break-word;white-space:normal;}
.secQuestion .secQuestion-EorrorTip{font-size: 14px;color: #ff3320;margin-top: 4px;}
.secQuestion .subTitle{padding: 21px 0px;}
.secQuestion .subTitle .firstTip{font-size: 16px;color: #333333;}
.secQuestion .subTitle .secondTip{font-size: 14px;color: #999999;margin-top: 8px;}
.secQuestion .subTitle #unUpdateId.secondTip {margin-top: 3px;}
.secQuestion .marginTop30{margin-top: 30px;}
.secQuestion .usedApp-subTitle{margin: 20px 0 26px;}
.secQuestion .usedApp-subTitle .firstTip{font-size: 16px;color: #333333;}
.secQuestion .usedApp-subTitle .secondTip{font-size: 14px;color: #999999;margin-top: 8px;}

.secQuestion .a-EMUI5{font-size: 14px;}
.webUsedApp .subTitle{padding-bottom:56px;padding-left:20px;}
.secQuestion .webUsedApp.forget  .noneAbove{font-size:15px;color:#191919;margin-top:7px;margin-bottom:0;}
.webUsedApp.forget .eachAppBox{display:inline-block;width:25%;font-size:0;vertical-align:top;padding:23px 0;}
 .secQuestion .webUsedApp.forget  .usedApp-subTitle{margin-bottom:11px;}
/* 2.6.3  自助申诉--选择华为商城的订单信息 */
#selectGoodsFormPc.checkOldVerifyInfoV3 th{vertical-align: middle; padding-top: 0; }
#selectGoodsFormPc  .dpmenu-EMU5.dpmenu-EMUI5-down{ min-width: 420px !important;width: 420px !important;max-width: 420px !important; left: 12px !important;right:auto !important;    top: 40px!important;} 
.secQuestion .h span.userAccount{display:inline;}
.secQuestion .step-area{padding-bottom:24px;}

.webUsedApp .appBox{max-width:100%;font-size:0;margin:0 auto;}
.webUsedApp .appIconBox{max-width:100%;}
.webUsedApp .app_icon{display:inline-block;max-width:72px;margin:8px;text-align: center;}
.webUsedApp .appImgbox{position:relative;}
.webUsedApp .appImg{width:72px;height:72px;}
.webUsedApp .appCheckBox{display:inline-block;position:absolute;top:3px;}
.webUsedApp .noneAbove{font-size:15px;color:#191919;margin-top:16px;margin-bottom:30px;}
.webUsedApp .appText{display:inline-block;font-size:14px;color:#191919;padding-bottom:38px;max-width:72px;min-width:40px;word-wrap:break-word;}
.webUsedApp .item-radio{display: inline-block;vertical-align: middle;cursor: pointer;}
.webUsedApp .noneAboveText{display:inline-block;vertical-align: middle;padding:0 10px 0 20px;}
.webUsedApp .mainTitle{font-size: 24px;color: #191919;text-align: center;margin-bottom:8px;}
.webUsedApp .eachAppBox{display:inline-block;width:25%;font-size:0;vertical-align:top;}

.webUsedApp .a-EMUI5{font-size:14px;color:#007dff;}
.margin16{margin:16px;}

.webUsedApp .eachAppBox{display:inline-block;width:25%;font-size:0;vertical-align:top;}
.secQuestion .webUsedApp .appText{padding-bottom:8px;}
.webUsedApp .a-EMUI5{font-size:14px;color:#007dff;}
.margin16{margin:16px;}
.webUsedAppMulti .radioBtnUnCheck{background-image: url(images/tick-off.png);}
.webUsedAppMulti .radioBtnCheck{background-image: url(images/tick-on.png);}
.webUsedAppMulti .opacity{filter: Alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}

.secQuestion .checkOldVerifyInfoV3 {min-height:100%;margin-bottom:30px;background: #fff;}
#usedApkMulti .webUsedApp{width:420px;text-align:left;}
#usedApkMulti .webUsedApp .appBox{max-width:100%;font-size:0;margin:0}
.appealSecQues .appBox{position:relative;}
/*toast弹框*/
.toast {display:inline-block;padding: 8px 16px;min-height: 16px;min-width: 68px;max-width: 228px;border-radius: 4px;background: rgba(179, 179, 179, 0.9);font-size: 13px;}
.toastWrap{text-align: center;bottom:0;position:absolute;transform:translateX(-50%);left:50%;-webkit-transform:translateX(-50%);z-index: 100000;}
.toastWrap.text-left{text-align:left;}
/* 找回密码--回答安全问题--web */ 
#resetPwdSecurityQuestion .queList{display:none;}
#resetPwdSecurityQuestion .webUsedApp .subTitle{padding-bottom: 21px; padding-left: 0;}
.secQuestion .forget #itemsId .radioBtnCheck, .secQuestion .forget  #itemsId .radioBtnUnCheck {top:3px;}
#itemsId .radioBtnCheck, #itemsId .radioBtnUnCheck{margin-top: 0;}
.webUsedApp.forget #itemsId  .noneAbove .radioBtnCheck, .webUsedApp.forget #itemsId  .noneAbove .radioBtnUnCheck{top:auto;right:auto;}
.alreadyAnswer .forget  .radioBtnCheck , .alreadyAnswer .forget  .radioBtnUnCheck{opacity:0.5;filter:alpha(opacity=50); /* 针对 IE8 以及更早的版本 */}
.unUpdate{display:none;}
.alreadyAnswer .unUpdate{display:block ;}
#mod-forget-area .radio-group { -webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify; justify-content:space-between;}
#mod-forget-area .radio-group .userAccount{word-break: break-all;}
.ddrop-disabled .select-ico{filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity: 0.3;opacity: 0.3;}
.alreadyAnswer .radioBtnUnCheck{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.alreadyAnswer .radioBtnCheck{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}

.appealContainer .alreadyAnswerTips{font-size: 13px;color: #808080;display: none;padding: 8px 30px 0;}
.alreadyAnswer .appealLeftContent .inputdetail{background-color: #e9e9e9;}
.alreadyAnswer .appealLeftContent .inputdetail .select-text{color: #999;}

.secQuestion .checkOldVerifyInfoV3 .paddingTop0{padding-top: 0;}
.secQuestion .checkOldVerifyInfoV3 .marginTop0{margin-top: 0;}
.secQuestion .checkOldVerifyInfoV3 .pcActionbar{position: relative;}
.secQuestion .checkOldVerifyInfoV3 .requiredIcon{position: absolute;}
/* 帐号恢复2.6.3.100  优化 start*/
.page-expire .successPicPosition{margin:120px auto 30px;}
.dayTimeNew{color: red;padding:0 !important;}
/* 帐号恢复2.6.3.100  优化 end*/
.paddingTB13{padding:13px 0;}
.positionRelative{position:relative;}
.vertical_align_middle_transform{position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%); margin:0 !important;}
.text_l_r{text-align:left !important;}
.lang_l_r{right:0;}

/*忘记密码，帐号申诉非中文情况下样式*/
.lang-false{display:block;margin-bottom:6px;}