@CHARSET "UTF-8";html {color: #5C5C5C;background-color: #D4D4D3;height:100%;overflow-y:auto;background: #f1f1f1;}
.customer-header .logo {padding-left: 36px;}
.customer-header .g table td{padding-top: 30px;}
.customer-header .g table span {font-size: 22px;font-family: 微软雅黑;display: block;padding-left: 10px;color: #777777;}
/*login*/.form-edit-area .forgot {color: #929292;display: inline-block;margin-left: 108px;*margin-left: 103px;}
/*activity_success*//*forgetbyid*/.reset-area .h,.forget-area .h_activity {height: 58px;padding: 52px 0 0 248px;background-position: 0 0;}
/*regbyphone*//*regbymail*/.tab_div .on_tab_first_left {background: url(../../images/common/tab_bg.png) no-repeat;background-position: -2px 0;display: block;height: 33px;line-height: 33px;text-align: center;width: 135px;float: right;margin-left:2px;font-size: 12px;font-weight: bold;color: #fff;cursor: pointer;}
/*regbymail*/.tab_div .on_tab {background: url(../../images/common/tab_bg.png) no-repeat;background-position: -1px -57px;display: block;height: 33px;line-height: 33px;text-align: center;width: 135px;float: right;margin-left: 2px;font-size: 12px;font-weight: bold;color: #fff;cursor: pointer;}
/*regbymail*/.tab_div .tab_first_left {background: url(../../images/common/tab_bg.png) no-repeat;background-position: -157px 0;display: block;height: 33px;line-height: 33px;text-align: center;width: 135px;float: right;font-size: 12px;font-weight: bold;color: #fff;cursor: pointer;}
/*regbyphone*//*regbymail*/.tab_div .tab {background: url(../../images/common/tab_bg.png) no-repeat;background-position: -154px -57px;display: block;height: 33px;line-height: 33px;text-align: center;width: 135px;float: right;margin-right: 2px;font-size: 12px;font-weight: bold;color: #fff;cursor: pointer;}
.backRound {background: url('../../images/common/tab_bg.png') no-repeat;background-position:-154px -57px;display: block;height: 33px;line-height: 33px;text-align: center;width: 135px;float:left;margin-left:2px;font-size: 12px;font-weight: bold;color: white;cursor: pointer;}
.phone_text_width{width:126px!important;}
/*regbymail*/.form-edit-area th,.form-edit-area td {padding: 10px 2px;}
/*forgetbyphone*/.forget-tips{font-size: 12px;color: #999;width:386px;}
.dbtn2_new{width:110px;height:34px;line-height:34px;vertical-align:middle;border-radius:0px;font-size:12px;}
.l{float:left;}
.pwd-letter span {width: 84px;font-size: 12px;}
.pad_left{padding-left: 157px;}
/**end**casserver web authentication*/.adHeadPicContainer {margin-right: 20px;}
.button-forget.auth_code_grey{color: #d6e2f9;cursor: auto;}
/*old忘记密码流程-start*/.pwd-format-ok, .pwd-format-no {width: 12px;height: 12px;display: inline-block;}
.formtable .gray-tips {width: 255px;}
.pwd-format {width: 12px;height: 12px;border: none;}
.pwd-low-div {width: 33%;background: #ff3320;}
.pwd-strong-div {width: 100%;background: #41ce48;}
#phoneaccount{width: 257px;}
#authCode{vertical-align: middle;}
/*old忘记密码流程-end*/.forget-area .varity-email-title{height: 72px;font-size: 24px;color: #333;font-weight: 600;text-align: center;line-height: 72px;}
.bottom-line{background: transparent url(../images/echannel/bg/bg25.png) scroll no-repeat;background-size: 100% 72px;}
.div-table{display:table;margin: 0px auto;}
.div-tr{display:table-row;}
.div-th{white-space:nowrap;text-align:right;color:#999999;}
.div-th,.div-td{display:table-cell;padding:4px 0}
.linkAlign{text-align: center;}
.randomCodeUI6 .randomCodeImg{right: 16px;}
.randomCodeUI6 #randomCodeRight{right: 122px;}

.forget .radio-group .selectItem{background-image:url(../images/rigthArrow.png);margin-right: 10px}

.secQuestion .item-descript{padding-right: 40px;}
.secQuestion .item-radioUnCheck{right: 0;}
.secQuestion .item-radioCheck{right: 0;}

.secQuestion .usedApp-subTitle{padding-left: 20px;}

.webUsedApp .appCheckBox{right:3px;}

.secQuestion .checkOldVerifyInfoV3 .requiredIcon{left: 21px;}

#usedApkMulti .webUsedApp{margin-left:30px;}

.checkOldVerifyInfoV3 .input-area{margin-left: 30px;}
/* 2.6.3  自助申诉--选择华为商城的订单信息 */
.checkOldVerifyInfoV3 th.twoLines {padding-top: 25px;}
.historyAddressTitle,.historyTelTitle{width:85px; }
.historyAddressTitle,.historyTelTitle{ float: right;line-height: 1.2;}